<div class="row">
	<div class="col-md-12">
		<div>
			<h1>
				Contacts Database<br>
				<small>by Adam Sofokleous</small>
			</h1>
		</div>

		<aside ng-controller="ContactController" class="side-menu">
			<nav>
				<ul class="nav nav-pills nav-stacked">
					<li>
						<a class="small-nav-links" href="/">H</a>
					</li>
					<li>
						<a class="small-nav-links" href="/search">Search</a>
					</li>
					<li>
						<a class="small-nav-links" href="/browse">Browse</a>
					</li>
					<li>
						<a class="small-nav-links" href="/add">Add New</a>
					</li>
				</ul>
			</nav>
		</aside>
	</div>
</div>

